<div class="flex flex-col h-screen">
  <app-navbar></app-navbar>
  <div class="w-full grow bg-white-600 p-6">
    <h1 class="text-xl text-gray-700 font-semibold italic mb-5">Table</h1>
    <input type="search" [formControl]="input">
    <table class="w-full text-sm text-left text-gray-500" cdk-table [dataSource]="dataSource">
<tr cdk-header-row *cdkHeaderRowDef="columns" class="text-xs text-gray-700 uppercase bg-gray-50"></tr>
<tr cdk-row *cdkRowDef="let row; columns: columns"  class="bg-white border-b"></tr>
<tr cdk-footer-row  class=" text-xl text-gray-700 uppercase bg-gray-200"  *cdkFooterRowDef="columns"></tr>
<!--Id Columns-->
<ng-container cdkColumnDef="#No">
  <th cdk-header-cell *cdkHeaderCellDef  class="px-6 py-3">Id.</th>
  <td cdk-cell *cdkCellDef="let row" class="px-6 py-4">{{row.id}}</td>
  <th cdk-footer-cell *cdkFooterCellDef  class="px-6 py-3"></th>

</ng-container>
<!--Id Name-->
<ng-container cdkColumnDef="Name">
  <th cdk-header-cell *cdkHeaderCellDef  class="px-6 py-3">title<th>
  <td cdk-cell *cdkCellDef="let row" class="px-6 py-4">{{row.title}}</td>
  <th cdk-footer-cell *cdkFooterCellDef  class="px-6 py-3"></th>
</ng-container>
<!--Id Price-->
<ng-container cdkColumnDef="price">
  <th cdk-header-cell *cdkHeaderCellDef  class="px-6 py-3">Price<th>
  <td cdk-cell *cdkCellDef="let row" class="px-6 py-4">{{row.price}}</td>
  <th cdk-footer-cell *cdkFooterCellDef  class="px-6 py-3">{{total}}</th>
</ng-container>
<!--Id Cover-->
<ng-container cdkColumnDef="Cover">
  <th cdk-header-cell *cdkHeaderCellDef  class="px-6 py-3">Cover<th>
  <td cdk-cell *cdkCellDef="let row" class="px-6 py-4">
    <img class="w-20" [src]="row.images[0]" alt="">
  </td>
  <th cdk-footer-cell *cdkFooterCellDef  class="px-6 py-3"></th>
</ng-container>
<!--Actions Price-->
<ng-container cdkColumnDef="Actions">
  <th cdk-header-cell *cdkHeaderCellDef  class="px-6 py-3">Actions<th>
  <td cdk-cell *cdkCellDef="let row" class="px-6 py-4">
    <app-btn (click)="update(row)">Update</app-btn>
  </td>
  <th cdk-footer-cell *cdkFooterCellDef  class="px-6 py-3"></th>
</ng-container>
    </table>
    </div>
    </div>
